

{% extends "app/layout.html" %}

{% block head %} 
{% load staticfiles %}
 <script src="{% static 'app/scripts/betting2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/tables.css' %}" />


{% endblock %}

{% block content %}
    <body>
         <h1 id="resultbetting">Result</h1>


        <form>
             <input id="textbetting" placeholder="League" type="text">
            <input type="submit" value="Search matches">
        </form>
        

         

         <div id="scoreboard">
    </div>

        

    </body>
{% endblock %}
